.root {
	-fx-background-color: #eceeef;
}

.label {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-line-height: 20px;
}

.button {
	-fx-padding: 9px 12px;
	-fx-margin-bottom: 0;
	-fx-font-size: 14px;
	-fx-line-height: 20px;
	-fx-color: #000;
	-fx-background-color: #5cb85c;
	-fx-border-radius: 3px;
	-fx-font-weight: bold;
	-fx-border-color: #4cae4c;
	-fx-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-fx-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px
		rgba(0, 0, 0, 0.075);
}

.button:hover {
	-fx-border-color: transparent;
	-fx-background-color: #47a447;
	-fx-border-color: #398439;
}

.button-red{
	-fx-color: #000;
    -fx-background-color: #d9534f;
    -fx-border-color: #d9534f;
}

.button-red:hover{
   -fx-color: #000; 
    -fx-background-color: #c9302c;
    -fx-border-color: #c12e2a;
}